<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--<system.web>
      <compilation debug="false" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity>
    <containers>
      <container name="confDAL">
        <register type="IHRMDAO.ICarDAO,IHRMDAO" mapTo="HRMDAO.CarDAO,HRMDAO" name="CarDAO"></register>
        <register type="IHRMDAO.IUserDAO,IHRMDAO" mapTo="HRMDAO.UserDAO,HRMDAO" name="UserDAO"></register>
        <register type="IHRMDAO.IOneLevelDao,IHRMDAO" mapTo="HRMDAO.OneLevelDao,HRMDAO" name="OneLevelDao"></register>
        <register type="IHRMDAO.ITwoLevelDao,IHRMDAO" mapTo="HRMDAO.TwoLevelDao,HRMDAO" name="TwoLevelDao"></register>
        <register type="IHRMDAO.IThreeLevelDao,IHRMDAO" mapTo="HRMDAO.ThreeLevelDao,HRMDAO" name="ThreeLevelDao"></register>
      </container>
      <container name="confBLL">
        <register type="IHRMBLL.ICarBLL,IHRMBLL" mapTo="HRMBLL.CarBLL,HRMBLL" name="CarBLL"></register>
        <register type="IHRMBLL.IUserBLL,IHRMBLL" mapTo="HRMBLL.UserBLL,HRMBLL" name="UserBLL"></register>
        <register type="IHRMBLL.IOneLevelBLL,IHRMBLL" mapTo="HRMBLL.OneLevelBLL,HRMBLL" name="OneLevelBLL"></register>
        <register type="IHRMBLL.ITwoLevelBLL,IHRMBLL" mapTo="HRMBLL.TwoLevelBLL,HRMBLL" name="TwoLevelBLL"></register>
       <register type="IHRMBLL.IThreeLevelBLL,IHRMBLL" mapTo="HRMBLL.ThreeLevelBLL,HRMBLL" name="ThreeLevelBLL"></register>
      </container>
    </containers>
  </unity>

</configuration>
