<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--<system.web>
      <compilation debug="false" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity>
    <containers>

      <container name="confDAL">

        <register type="IHRMDAO.ICarDAO,IHRMDAO" mapTo="HRMDAO.CarDAO,HRMDAO" name="CarDAO"></register>
        <register type="IHRMDAO.IUserDAO,IHRMDAO" mapTo="HRMDAO.UserDAO,HRMDAO" name="UserDAO"></register>

      </container>

      <container name="confBLL">

        <register type="IHRMBLL.ICarBLL,IHRMBLL" mapTo="HRMBLL.CarBLL,HRMBLL" name="CarBLL"></register>
        <register type="IHRMBLL.IUserBLL,IHRMBLL" mapTo="HRMBLL.UserBLL,HRMBLL" name="UserBLL"></register>

      </container>
    </containers>
  </unity>

</configuration>
